.movie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
}

.movie .card * {
  font-size: 0.85rem;
}

.movie .card-body {
  height: 6rem;
  padding: 0.5rem;
}

.movie .poster {
  height: 14.5rem;
}

/* * {
  border: 1px solid red;
} */

@media (max-width: 768px) {
  .movie {
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(9.5rem, 1fr));
  }

  .modal .poster {
    max-width: 11.5rem;
    max-height: 14.5rem;
    margin-bottom: 1rem;
  }
}
